<% provide(:title, "Contact") %>
<% meta :keywords => %q(It Got Weird, contact) %>
<div id="ContactBack">
<%= render 'layouts/header' %>
  <div id="BlogContainer" class="container" style="height:auto; border:1px solid transparent;
		border-image: url('assets/chalk.png');
		border-image-slice:25;
		border-image-width: 20 20 20 20;
		border-image-outset: 0;
		border-image-repeat: round;
		margin-top: 5%;
		border-radius: 5px;">
   <h1 id="BlogHeader" style="text-align:center;">Contact</h1>
	<div class="row Blog" style="border-image-width: 0 0 0 0; border-radius: 5px; margin-left: 10%; margin-right:10%;">
		<div class="row BlogContent" style="text-align:center;">Randy.Overland@gmail.com</div>

	</div>
	<%= render 'layouts/footer' %>
  </div>
  
</div>

<script>
	$(document).ready(function() {
		$("#ContactBack").height($(window).height());
		$("#ContactBack").hide().fadeOut(400);
		$("#ContactBack").blur().fadeIn(400);
	});
</script>