<div class="row" id="hero"  style="display:block;">
	<img data-stellar-ratio="0.6" id="banner" src="/assets/weirdbanner.jpg" style="">
</div>

<div class="row parallax" id="main" data-stellar-background-ratio="0.7">
	<div class="col-md-5 col-sm-5 col-xs-5" id="trailerheader">
		<h2>The Trailer</h1>
		<iframe id="weirdtrailer" src="//www.youtube.com/embed/o9m4Fy52Uwc?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
		<div class="col-md-6 col-sm-6 col-xs-6" id="slogan" data-stellar-ratio="0.9" data-stellar-vertical-offset="-100" >
		  <div class="title" id="title" data-stellar-ratio="0.7" data-stellar-vertical-offset="-50"><img src="/assets/Title.png"></div>
			 <h2 id="deschead">A Weird Sketch Comedy Series.</h2>
			  <p id="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
					in reprehenderit in voluptate velit esse cillum dolore eu fugiat
					nulla pariatur. Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </p>
			  <a id="bloglink" href="/blogs"><h1 id="TheBlog">The Blog</h1></a>
		</div>
		
</div>

<div class="row parallax" id="cast" data-stellar-background-ratio="0.4">
	<h1 style="text-align: center;">Cast</h1>
	  
	  <div class="col-md-3 col-sm-3 col-xs-3 pic">
		<h2>Kevin Anderson</h2>
		<img src="assets/anderson.jpg">
	  </div>
	  
	  
	  <div class="col-md-3 col-sm-3 col-xs-3 pic">
		<h2>Alexandra Hensley</h2>
		<img src="assets/hensley.jpg">
	  </div>
	  
	  <div class="col-md-3 col-sm-3 col-xs-3 pic">
		<h2>Zach Pizza</h2>
		<img src="assets/pizza.jpg">
	  </div>
	  
	  <div class="col-md-3 col-sm-3 col-xs-3 pic">
		<h2>Deirdre Scott</h2>
		<img src="assets/scott.jpg">
	  </div>
</div>
<div class="row parallax" id="crew">
	<h1 style="text-align: center;">Crew</h1>
	  
	  <div class="col-md-6 col-sm-6 col-xs-6 pic">
		<h2>Randy Overland</h2>
		<img src="assets/ranteeth.jpg">
	  </div>
	  
	  <div class="col-md-6 col-sm-6 col-xs-6  pic">
		<h2>Ray Wongchinda</h2>
		<img src="assets/BADASS RAY.jpg">
	  </div>
	  
	  <%= render 'layouts/footer' %>
</div>

<script>
$(document).ready(function(){
if(/*@cc_on!@*/false)
{
console.log("IE")
$("#hero").height($("#banner").height());
$("#main").height($("#banner").height());
$(window).resize(function() {
    $("#hero").height($("#banner").height());
	$("#main").height($("#banner").height());
});
    $("h1").hide().fadeOut(1000);
	$("h1").blur().fadeIn(1000);
	$(".row").hide().fadeOut(400);
	$(".row").blur().fadeIn(400);
}
else
{
$("#hero").height($("#banner").height());
$("#main").height($("#banner").height());
var parallaxImages = [];
$('.parallax').each(function(index) {
	var parallaxImage = {};
	parallaxImage.element = $(this);
	parallaxImage.height = parallaxImage.element.height();
	parallaxImages.push(parallaxImage);
	$.stellar( {hideDistantElements: false} );
});
$(window).resize(function() {
    $("#hero").height($("#banner").height());
	$("#main").height($("#banner").height());
	$.stellar('refresh');
});
  
	$("h1").hide().fadeOut(1000);
	$("h1").blur().fadeIn(1000);
	$(".row").hide().fadeOut(400);
	$(".row").blur().fadeIn(400);
}
});

</script>