<% meta :keywords => %q(It Got Weird, sketch comedy, comedy) %>

<div class="row" id="hero"  style="display:block;">
	<img data-stellar-ratio="0.6" id="banner" src="/assets/weirdbanner.jpg" style="position:absolute;">
</div>

<div class="row" id="homenav">
	<div class="col-md-4 col-sm-4 col-xs-4 homenavbutton" data-no-turbolink>
	<%= link_to (sanitize '<h1>Blog</h1>'), blogs_path %></div>
	<div class="col-md-4 col-sm-4 col-xs-4 homenavbutton" data-no-turbolink>
	<%= link_to (sanitize '<h1>Videos</h1>'), "https://www.youtube.com/user/ItGotWeirdComedy" %></div>
	<div class="col-md-4 col-sm-4 col-xs-4 homenavbutton" data-no-turbolink>
	<%= link_to (sanitize '<h1>Contact</h1>'), contact_path %></div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 parallax" id="main" style="min-height: 320px;" data-stellar-background-ratio="0.6">
	<div class="col-md-5 col-sm-5 col-xs-12" id="trailerheader">
		<h2>The Trailer</h1>
		<iframe id="weirdtrailer" src="//www.youtube.com/embed/o9m4Fy52Uwc?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
		<div class="col-md-6 col-sm-6 col-xs-12" id="slogan" data-stellar-ratio="0.9" data-stellar-vertical-offset="-100" >
		  <div class="title" id="title" data-stellar-ratio="0.70" data-stellar-vertical-offset="-10"><img src="/assets/Title.png"></div>
			 <h2 id="deschead">A Weird Sketch Comedy Series.</h2>
			  <p id="description">
			  <a href="https://www.facebook.com/ItGotWeird"><img src="assets/FB-f-Logo__blue_50.png"></a>
			  <a href="https://twitter.com/ItGotWeird_1"><img src="assets/Twitter_logo_blue.png"></a>
			  </p>
		</div>
		
</div>

<div class="col-md-12 col-sm-12 col-xs-12 parallax" id="cast">
	<h1>Starring</h1>
	  
	  <div class="col-md-3 col-sm-3 col-xs-6 pic">
		<h2>Kevin Anderson</h2>
		<img src="assets/anderson.png">
	  </div>
	  
	  
	  <div class="col-md-3 col-sm-3 col-xs-6 pic">
		<h2>Alexandra Hensley</h2>
		<img src="assets/hensley.png">
	  </div>
	  
	  <div class="col-md-3 col-sm-3 col-xs-6 pic">
		<h2>Zach Pizza</h2>
		<img src="assets/pizza.png">
	  </div>
	  
	  <div class="col-md-3 col-sm-3 col-xs-6 pic">
		<h2>Deirdre Scott</h2>
		<img src="assets/scott.png">
	  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 parallax" id="crew">
	<h1 style="text-align: center;">Created By</h1>
	  
	  <div class="col-md-6 col-sm-6 col-xs-6 pic">
		<h2>Randy Overland</h2>
		<img src="assets/randy.png">
	  </div>
	  
	  <div class="col-md-6 col-sm-6 col-xs-6  pic">
		<h2>Ray Wongchinda</h2>
		<img src="assets/BADASS-RAY.png">
	  </div>
	  
	  <%= render 'layouts/footer' %>
</div>


