@import "bootstrap";
@font-face{
	font-family: SketchRockwellBold;
	src: url(SketchRockwell-Bold.eot);
	src: url('SketchRockwell-Bold.eot?#iefix') format('embedded-opentype'),
		 url('SketchRockwell-Bold.ttf') format('truetype'),
		 url('sketchRockwell-bold-webfont.woff') format('woff'),
		 url('sketchRockwell-bold-webfont.svg#SketchRockwellBold') format('svg');
}

html{
  position: relative;
  min-height: 100%;
}

.row{
	margin-left:0;
	margin-right:0;
	color: #FFFFFF;
}

body{
	background-color: #222222;
	-webkit-animation-duration: 0.0001s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0.1s;
	color: #FFFFFF;
	height:100%;
}

a{
	color: white;
	text-decoration: none;
	transition: color ease-in 0.1s;
}

a:hover{
	color: #AAAAAA;
	text-decoration: none;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	to{		opacity: 1; }
}

.container-fluid{
	padding-left:0;
	padding-right:0;
	z-index:-1;
}

.headerhome{
	text-align: center;
	font-family: SketchRockwellBold;
	color:white;
	background-color: rgba(0,0,0,0.5);
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 0 20;
	border-image-outset: 0;
	border-image-repeat: round;
	h1{
		font-size: 10em;
		text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
	}
	a{
		color:white;
	}
	a:hover{
		color:white;
		text-decoration:none;
	}
}

.nav{
	text-align: center;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 20 20;
	border-image-outset: 0;
	border-image-repeat: round;
	padding-left:5%;
	padding-right: 5%;
	padding-top:20px;
	padding-bottom:20px;
	background-color: rgba(0,0,0,0.5);
	z-index:3;
	h1{
		font-size: 3em;
		text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
		z-index:2;
	}
	a{
		color: #FFFFFF;
		-webkit-transition: color 100ms ease-in;
		-moz-transition: color 100ms ease-in;
		-o-transition: color 100ms ease-in;
		-ms-transition: color 100ms ease-in;
		transition: color 100ms ease-in;
	}
	a:hover{
		color:#222222;
		text-decoration:none;
	}
}
.navbutton{
	border-radius: 30px;
	-webkit-transition: background-color 100ms ease-in;
    -moz-transition: background-color 100ms ease-in;
    -o-transition: background-color 100ms ease-in;
    -ms-transition: background-color 100ms ease-in;
	transition: background-color 100ms ease-in;
	z-index:2;
}
.navbutton:hover{
	background-color: #FFFFFF;
}

#hero{
	position:relative;
	display:block;
}

#banner{
		position:fixed;
		display:block;
		width:100%;
		top:0;
		right:0;
		left: 0;
		bottom: 0;
}

#homenav{
	position:relative;
	width:100%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	background-color: rgba(50, 50, 50, 0.5);
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	-webkit-border-image:url(chalk.png) 20 20 round;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 20 0;
	border-image-outset: 0;
	border-image-repeat: round;
	overflow:hidden;
	z-index:4;
}

.homenavbutton{
	text-align:center;
	text-shadow: 5px 5px rgba(0,0,0,0.5);
	-webkit-transition: background-color 100ms ease-in;
    -moz-transition: background-color 100ms ease-in;
    -o-transition: background-color 100ms ease-in;
    -ms-transition: background-color 100ms ease-in;
	transition: background-color 100ms ease-in;
	z-index:4;
	h1{
		font-size:4em;
	}
}

#main{
	position:relative;
	text-align: center;
	font-family: SketchRockwellBold;
	color: #FFFFFF;
	border:1px solid transparent;
	background-image: url(weirddinner.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	height:auto;
	h2{
		font-size: 4em;
		text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
	}
}

.title{
	position:relative;
	display:block;
	font-family: SketchRockwellBold;
	z-index:2;
	h1{
	font-size:10em;
	text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
	}
	img{
		width:100%;
	}
}

#weirdtrailer{
	padding:20px;
	border:1px solid transparent;
	-webkit-border-image:url(chalk.png) 30 30 round;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 20 20;
	border-image-outset: 0;
	border-image-repeat: round;
	width: 700px;
	height: 425px;
}

#trailerheader{
	float:right;
	margin-top: 60px;
	margin-bottom: 5em;
	margin-right: 30px;
	height:auto;
}

#slogan{
	position:relative;
	margin-left: 5em;
	z-index:3;
	h2{
		position:relative;
		font-size:3.0em;
		z-index:3;
	}
}

#deschead{
	position:relative;
	padding-top: 2em;
	padding-bottom: 2em;
	font-family: Helvetica;
	font-weight: bold;
	border:1px solid transparent;
	border-image: url('chalk.png');
	-webkit-border-image:url(chalk.png) 20 20 round;
	border-image-slice:25;
	border-image-width: 20 0 20 0;
	border-image-outset: 0;
	border-image-repeat: round;
	letter-spacing:5px;
	z-index:3;
}

#description{
	position:relative;
	margin-top: 2em;
	font-family: Helvetica;
	font-size: 1.5em;
	text-align:center;
	z-index:3;
}

#bloglink{
	position:relative;
}

#TheBlog{
	font-size: 6em;
}

#cast{
	position:relative;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	-webkit-border-image:url(chalk.png) 20 20 round;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	background-image: url('cast.jpg');
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	z-index:4;
	background-color: #222222;
	padding-bottom: 2em;
	h1{
		text-align:center;
		font-size:5em;
		text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	}
	h2{
		font-size:3em;
	}
}

#crew{
	position:relative;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	-webkit-border-image:url(chalk.png) 20 20 round;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	z-index:4;
	background-color: #222222;
	background-image: url('crew.jpg');
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	h1{
		text-align:center;
		font-size:5em;
		text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	}
	h2{
		font-size:3em;
	}
}
.pic{
	font-family: SketchRockwellBold;
	text-align:center;
	margin-bottom:0em;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	h1{
	
	}
	img{
		width:100%;
		height:auto;
		max-width:300px;
	}
}

textarea{
	width: 100%;
	height: 300px;
	border-radius: 6px;
	background-color: #555555;
}

#blog_title{
	width:100%;
}
ul{
	.wysihtml5-toolbar{
		margin-left: 24%;
	}
}

.blogtitle{
	text-align:center;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 0 0 20 0;
	border-image-outset: 0;
	border-image-repeat: round;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	h1{
		font-family: SketchRockwellBold;
		font-size: 6em;
	}
}

.blogcontent{
	margin-top: 30px;
	font-size: 1.5em;
	margin: 30px 50px;
}

input{
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 6px;
	background-color: #555555;
}

.blogactions{
	padding:10px;
}

.actions{
	margin-top: 30px;
	margin-left: 33%;
}

.formtastic .input .label{
	text-align:left;
	list-style-type: none;
	list-style: none;
	float:none;
}

ul{
	list-style: none;
}

#BlogBack{
	background-image: url('BlogBack.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height:100%;
}

#ContactBack{
	background-image: url('ContactBack.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height:100%;
}

#BlogContainer{
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

#BlogHeader{
	font-family: SketchRockwellBold;
	font-size: 8em;
	text-align:center;
	padding-bottom: 20px;
	
}

.BlogTitle{
	font-family: SketchRockwellBold;
	font-size: 5em;
	padding-bottom: 30px;
}

.BlogContent{
	padding:20px 40px;
	font-size: 1.5em;
}

.Blog{
	margin-bottom: 40px;
	background-color: rgba(50,50,50,0.5);
	border-radius: 10px;
	padding: 0 20px 10px 20px;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 20 20;
	border-image-outset: 0;
	border-image-repeat: round;
}

.ImageRowWrapper{
	width: 600px;
	margin: 0 auto;
	border:1px solid transparent;
		border-image: url('chalk.png');
		border-image-slice:25;
		border-image-width: 20 20 20 20;
		border-image-outset: 0;
		border-image-repeat: round;
		padding:20px;
}

.ImageRow{
	text-align:center;
	overflow: hidden;
	max-width: 600px;
	width: 100%;
	max-height: 400px;
	height:400px;
	position: relative;
	margin: 0 auto;
	background-position: center;
}
.BlogImage{
		width:100%;
		vertical-align:center;
}

#NewBlog{
	margin:10px;
}

.blogfeatured{
	text-align:center;
	img{
		max-width: 600px;
		border:1px solid transparent;
		border-image: url('chalk.png');
		border-image-slice:25;
		border-image-width: 20 20 20 20;
		border-image-outset: 0;
		border-image-repeat: round;
		padding:20px;
		}
}

.keywordsrow{
	margin: 30px 30px 30px 30px;
}

.keywords{
	text-align:center;
	background-color: rgba(150,150,150,0.5);
	padding: 5px;
	margin-right: 10px;
}

.readmore{
	font-size: 2em;
	background-color: white;
	margin-bottom:30px;
	border-radius:5px;
	a{
		color: black;
		font-weight:bold;
	}
	
}

#BlogForm{
	padding-left:10%;
	padding-right:10%;
}

#footer{
	margin-bottom:3em;
	font-family: Helvetica;
	text-align: center;
}

@media screen and (max-width: 1750px){
	#weirdtrailer{
		width: 600px;
		height: 364px;
	}
	.title{
		margin-left: 5em;
	}
	#slogan{
		
	}
}

@media screen and (max-width:1202px){
	body{
		font-size:12px;
	}
}
@media screen and (min-width: 992px) and (max-width:1519px) {
	body{
		font-size:10px;
	}
	#weirdtrailer{
		width: 500px;
		height: 304px;
	}
	#trailerheader{
		margin-top:40px;
	}
}

@media screen and (max-width:991px){
	body{
		font-size:8px;
	}
	#weirdtrailer{
		width: 400px;
		height: 243px;
		
	}
	#trailerheader{
		margin-top:25px;
		margin-bottom:20px;
	}
	#slogan{
		margin-left:0em;
	}
	.title{
		margin-left:0em;
	}
	.BlogContent{
		font-size: 3em;
	}
	.blogcontent{
		font-size: 3em;
	}
}

@media screen and (max-width:767px){
	body{
		font-size:7px;
	}
	#main{
		height:auto;
	}
	#weirdtrailer{
		width: 300px;
		height: 182px;
	}
	
	#trailerheader{
		margin-right: 0px;
		margin-top:15px;
		margin-bottom:20px;
	}
	#slogan{
		margin-left:0em;
	}
	.title{
		margin-left:0em;
	}
	#description{
		font-size:2.5em;
	}
	#footer{
		font-size:2.5em;
	}
	.pic{
		margin-bottom:6em;
	}
	.BlogContent{
		font-size: 3em;
	}
	.blogcontent{
		font-size: 3em;
	}
}

@media screen and (max-width:480px){
	body{
		font-size:6px;
	}
	#main{
		height:auto;
	}
	#weirdtrailer{
		width: 300px;
		height: 182px;
		
	}
	#trailerheader{
		margin-right: 0px;
		margin-top:10px;
		margin-bottom:20px;
	}
	#deschead{
		padding-bottom:0;
		margin-bottom:-30px;
	}
	#slogan{
		margin-left:0em;
	}
	.title{
		margin-left:0em;
	}
	#description{
		font-size:2.5em;
	}
	#footer{
		font-size:2.5em;
	}
	.pic{
		margin-bottom:6em;
	}
	.BlogContent{
		font-size: 3em;
	}
	.blogcontent{
		font-size: 3em;
	}
}