@import "bootstrap";
@font-face{
	font-family: SketchRockwellBold;
	src: url("SketchRockwell-Bold.ttf");
}

html{
  position: relative;
  min-height: 100%;
}

.row{
	margin-left:0;
	margin-right:0;
	color: #FFFFFF;
	background-size: cover;
}

body{
	background-color: #222222;
	-webkit-animation-duration: 0.0001s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0.1s;
	color: #FFFFFF;
	height:100%;
}

a{
	color: white;
	text-decoration: none;
	transition: color ease-in 0.1s;
}

a:hover{
	color: #AAAAAA;
	text-decoration: none;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	to{		opacity: 1; }
}

.container-fluid{
	padding-left:0;
	padding-right:0;
	z-index:-1;
}

.headerhome{
	text-align: center;
	font-family: SketchRockwellBold;
	color:white;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 0 20;
	border-image-outset: 0;
	border-image-repeat: round;
	h1{
		font-size: 10em;
		text-shadow: 4px 4px #6B6B6B;
	}
	a{
		color:white;
	}
	a:hover{
		color:white;
		text-decoration:none;
	}
}

.nav{
	text-align: center;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 20 20;
	border-image-outset: 0;
	border-image-repeat: round;
	padding-left:5%;
	padding-right: 5%;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #333333;
	z-index:3;
	h1{
		font-size: 3em;
		text-shadow: 2px 2px #686868;
		z-index:2;
	}
	a{
		color: #FFFFFF;
		-webkit-transition: color 100ms ease-in;
		-moz-transition: color 100ms ease-in;
		-o-transition: color 100ms ease-in;
		-ms-transition: color 100ms ease-in;
		transition: color 100ms ease-in;
	}
	a:hover{
		color:#222222;
		text-decoration:none;
	}
}
.navbutton{
	background-color: #333333;
	border-radius: 30px;
	-webkit-transition: background-color 100ms ease-in;
    -moz-transition: background-color 100ms ease-in;
    -o-transition: background-color 100ms ease-in;
    -ms-transition: background-color 100ms ease-in;
	transition: background-color 100ms ease-in;
	z-index:2;
}
.navbutton:hover{
	background-color: #FFFFFF;
}

#hero{
	position:relative;
	display:block;
}

#banner{
		position:fixed;
		display:block;
		width:100%;
		top:0;
		right:0;
		left: 0;
		bottom: 0;
}

#main{
	position:relative;
	text-align: center;
	font-family: SketchRockwellBold;
	color: #FFFFFF;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	background-image: url(rehearsal.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	h2{
		font-size: 4em;
		text-shadow: 4px 4px #6B6B6B;
	}
}

.title{
	position:relative;
	display:block;
	font-family: SketchRockwellBold;
	z-index:2;
	h1{
	font-size:10em;
	}
}

#weirdtrailer{
	padding:20px;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 20 20 20;
	border-image-outset: 0;
	border-image-repeat: round;
	width: 700px;
	height: 425px;
}

#trailerheader{
	float:right;
	margin-top: 60px;
	margin-right: 30px;
	height:500px;
}

#slogan{
	position:relative;
	margin-left: 5em;
	z-index:3;
	h2{
		position:relative;
		font-size:3.0em;
		z-index:3;
	}
}

#deschead{
	position:relative;
	padding-top: 2em;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	z-index:3;
}

#description{
	position:relative;
	margin-top: 2em;
	font-family: Helvetica;
	font-size: 1.5em;
	text-align:left;
	z-index:3;
}

#bloglink{
	position:relative;
}

#cast{
	position:relative;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	z-index:4;
	background-color: #222222;
	h1{
		font-size:5em;
	}
	h2{
		font-size:3em;
	}
}

#crew{
	position:relative;
	margin-top: 2em;
	font-family: SketchRockwellBold;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 20 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
	z-index:4;
	background-color: #222222;
	h1{
		font-size:5em;
	}
	h2{
		font-size:3em;
	}
}
.pic{
	font-family: SketchRockwellBold;
	text-align:center;
	img{
		width:100%;
		height:auto;
		border-radius: 1000px;
		max-width:300px;
	}
}

textarea{
	width: 100%;
	height: 300px;
	border-radius: 6px;
	background-color: #555555;
}

#blog_title{
	width:100%;
}
ul{
	.wysihtml5-toolbar{
		margin-left: 24%;
	}
}

.blogtitle{
	text-align:center;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 0 0 20 0;
	border-image-outset: 0;
	border-image-repeat: round;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	h1{
		font-family: SketchRockwellBold;
		font-size: 6em;
	}
}

.blogcontent{
	margin-top: 30px;
	font-size: 1.5em;
}

input{
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 6px;
	background-color: #555555;
}

.actions{
	margin-top: 30px;
	margin-left: 33%;
}

.formtastic .input .label{
	text-align:left;
	list-style-type: none;
	list-style: none;
	float:none;
}

ul{
	list-style: none;
}

#BlogContainer{
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 0 20 0 20;
	border-image-outset: 0;
	border-image-repeat: round;
	padding: 0 10% 10% 10%;
	height: 100%;
	background-color: #333333;
}

#BlogHeader{
	font-family: SketchRockwellBold;
	font-size: 8em;
	text-align:center;
	border:1px solid transparent;
	border-image: url('chalk.png');
	border-image-slice:25;
	border-image-width: 0 0 20 0;
	border-image-outset: 0;
	border-image-repeat: round;
	padding-bottom: 20px;
	margin-left: 30%;
	margin-right: 30%;
	
}

.BlogTitle{
	font-family: SketchRockwellBold;
	font-size: 5em;
	padding-bottom: 30px;
}

.BlogContent{
	font-size: 1.5em;
}

.Blog{
	margin-bottom: 40px;
	background-color: #555555;
	box-shadow: 5px 5px 0 #888888;
	border-radius: 15px;
	padding: 0 20px 10px 20px;
}
.ImageRow{
	text-align:center;
}
.BlogImage{
		width:100%;
		max-width: 600px;
		border:1px solid transparent;
		border-image: url('chalk.png');
		border-image-slice:25;
		border-image-width: 20 20 20 20;
		border-image-outset: 0;
		border-image-repeat: round;
		padding:20px;
}

#NewBlog{
	margin:10px;
}

.blogfeatured{
	text-align:center;
	img{
		max-width: 600px;
		border:1px solid transparent;
		border-image: url('chalk.png');
		border-image-slice:25;
		border-image-width: 20 20 20 20;
		border-image-outset: 0;
		border-image-repeat: round;
		padding:20px;
		}
}

#BlogForm{
	padding-left:10%;
	padding-right:10%;
}

@media screen and (max-width: 1750px){
	body{
		font-size:10px;
	}
	#weirdtrailer{
		width: 600px;
		height: 364px;
	}
	.title{
		margin-left: 5em;
	}
	#slogan{
		
	}
}

@media screen and (max-width:1202px){
	body{
		font-size:7px;
	}
}
@media screen and (min-width: 992px) and (max-width:1519px) {
	body{
		font-size:6px;
	}
	#weirdtrailer{
		width: 500px;
		height: 304px;
	}
}

@media screen and (max-width:991px){
	body{
		font-size:5px;
	}
	#weirdtrailer{
		width: 400px;
		height: 243px;
	}
}

@media screen and (max-width:767px){
	body{
		font-size:3px;
	}
	#weirdtrailer{
		width: 300px;
		height: 182px;
	}
}