<div class="row headerhome center-block">
	<%= link_to (sanitize "<h1>It Got Weird</h1>"), root_path %>
</div>
<div class="row nav center-block">
     <div data-no-turbolink>
	<%= link_to (sanitize '<div class="col-md-3 col-sm-3 col-xs-3 navbutton">
		<h1>Home</h1>
	</div>'), root_path %></div>
	<div data-no-turbolink>
	<%= link_to (sanitize '<div class="col-md-3 col-sm-3 col-xs-3 navbutton" >
		<h1>Blogs</h1>
	</div>'), blogs_path %></div>
	<a href="https://www.youtube.com/user/ItGotWeirdComedy"><div class="col-md-3 col-sm-3 col-xs-3 navbutton">
		<h1>Videos</h1>
	</div></a>
	<a href="/contact"><div class="col-md-3 col-sm-3 col-xs-3 navbutton">
		<h1>Contact</h1>
	</div></a>
</div>
