<div class="row headerhome center-block">
	<%= link_to (sanitize "<h1>It Got Weird</h1>"), blogs_path %>
</div>
<div class="row nav center-block">
	<%= link_to (sanitize '<div class="col-md-4 navbutton">
		<h1>Home</h1>
	</div>'), root_path %>
	<a href="/videos"><div class="col-md-4 navbutton">
		<h1>Videos</h1>
	</div></a>
	<a href="/contact"><div class="col-md-4 navbutton">
		<h1>Contact</h1>
	</div></a>
</div>